@import url("https://fonts.googleapis.com/css2?family=Amiri&family=EB+Garamond&family=Rubik&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "EB Garamond", serif;
  color: rgb(0, 0, 0);
  padding-left: 3rem;
  padding-right: 5rem;
  padding-top: 7rem;
  box-sizing: border-box;
}
.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -55px;
  width: 100px;
  height: 100px;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}
#dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
#dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
#dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

ul {
  list-style: none;
}

.left_navbar {
  overflow: hidden;
  width: 40%;
}

.left_navbar ul li a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Rubik", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
}

.left_navbar ul li a:hover {
  color: #fa453e;
}

.right_navbar {
  overflow: hidden;
  width: 38%;
  left: 80%;
}

.right_navbar ul li a {
  float: right;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Rubik", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold;
}

.right_navbar ul li a svg:hover {
  color: #fa453e;
}

.active {
  color: #fa453e !important;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
}

.header_title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  line-height: 2em;
  font-size: 5rem;
  text-align: center;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  display: none;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  left: 2rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  display: none;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  left: 2.1rem;
  background-color: #fa453e;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
  text-transform: uppercase;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #fa453e;
  transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}

/*CSS Animations*/
.fade-in-fwd {
  animation: fade-in-fwd 1.5s both;
}

.fade-in-fwd2 {
  animation: fade-in-fwd 1.5s 1.5s both;
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/*Media Queries*/
@media only screen and (max-width: 1133px) {
  .left_navbar {
    display: none;
  }
  .navigation__background {
    display: inline-block;
  }

  .navigation__button {
    display: inline-block;
  }

  header {
    justify-content: flex-end !important;
  }
}

@media only screen and (max-width: 1220px) {
  body {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 7rem;
  }
}

@media only screen and (max-width: 777px) {
  .right_navbar {
    display: none;
  }
  header {
    display: block;
    margin-bottom: 5rem;
    text-align: center;
    margin-left: 6rem;
  }
  .header_middle img {
    width: 50%;
    height: 50%;
  }
  .header_title h1 {
    font-size: 5rem;
    line-height: 7.5rem;
  }
}
